<ngb-tabset #tabs>
  <!--Reset password tab-->
  <ngb-tab *ngIf="passwordResetWished" title="Reset Password" id="reset_password">
    <ng-template ngbTabContent>
      <form [formGroup]="resetPasswordFormGroup" (ngSubmit)="resetPasswordFormGroup.valid && resetPassword()">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
          </div>
          <input type="text"
                 class="form-control"
                 [readonly]="passReset"
                 formControlName="email"
                 placeholder="email"
                 aria-label="email"
                 aria-describedby="basic-addon1"
                 required>
        </div>

        <div class="text-center">
          <button class="btn btn-primary"
                  type="submit"
                  [disabled]="passReset">
            Reset
          </button>
        </div>

        <div class="card-footer">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
          </div>
        </div>

      </form>
    </ng-template>
  </ngb-tab>

  <!--Sign in tab-->
  <ngb-tab>
    <ng-template ngbTabTitle>Sign in</ng-template>
    <ng-template ngbTabContent>
      <form [formGroup]="signInFormGroup"
            (ngSubmit)="signInFormGroup.valid &&
              authProcess.signInWith
              (authProviders.EmailAndPassword,signInFormGroup.value.email,signInFormGroup.value.password)">

        <div class="form-group">
          <label for="validationSignInEmail">E-mail</label>
          <div class="input-group">
            <input class="form-control"
                   [class.is-valid]="sigUpEmailFormControl.valid && sigUpEmailFormControl.dirty"
                   [class.is-invalid]="sigUpEmailFormControl.errors  && sigUpEmailFormControl.dirty"
                   id="validationSignInEmail"
                   [formControl]="sigUpEmailFormControl"
                   placeholder="E-mail"
                   type="email"
                   aria-describedby="inputGroupPrepend3"
                   required>

            <!--error msgs-->
            <div class="invalid-feedback"
                 *ngIf="sigUpEmailFormControl.errors && (sigUpEmailFormControl.dirty || sigUpEmailFormControl.touched)">
              <p *ngIf="sigUpEmailFormControl.hasError('required')">
                E-mail is required
              </p>
              <p *ngIf="sigUpEmailFormControl.hasError('pattern')">
                Please enter a valid e-mail address
              </p>
            </div>

          </div>

          <div class="form-group">
            <label for="validationSignInPassword">Password</label>
            <div class="input-group">
              <input class="form-control"
                     [class.is-valid]="sigInPasswordFormControl.valid"
                     [class.is-invalid]="sigInPasswordFormControl.errors"
                     id="validationSignInPassword"
                     type="password"
                     placeholder="password"
                     name="password"
                     [formControl]="sigInPasswordFormControl"
                     aria-describedby="inputGroupPrepend4"
                     required>

              <!--<small id="passwordHelpBlock" class="form-text text-muted">-->
              <!--Your password must be 8-25 characters long, contain letters and numbers,-->
              <!--and must not contain spaces, special characters, or emoji.-->
              <!--</small>-->

              <div class="invalid-feedback"
                   *ngIf="sigInPasswordFormControl.errors && (sigInPasswordFormControl.dirty || sigInPasswordFormControl.touched)">
                <p *ngIf="sigInPasswordFormControl.hasError('required')">
                  Please do not forget the password
                </p>
                <p *ngIf="sigInPasswordFormControl.hasError('minlength')">
                  The password must be at least 6 characters
                  long.
                </p>
                <p *ngIf="sigInPasswordFormControl.hasError('maxlength')">
                  The password can not be longer than 25 characters.
                </p>
              </div>

            </div>
          </div>
        </div>

        <div class="row justify-content-md-center">
          <div class="col">
            <button class="btn btn-primary"
                    type="submit">
              Log in
            </button>
          </div>

          <div class="col">
            <button *ngIf="guestEnabled"
                    class="btn btn-outline-secondary"
                    (click)="selectResetPasswordTab()">
              Forgot Password?
            </button>
          </div>

        </div>

      </form>
    </ng-template>
  </ngb-tab>

  <!--Register - sign up tab-->
  <ngb-tab>
    <ng-template ngbTabTitle>Register</ng-template>
    <ng-template ngbTabContent>
      <form [formGroup]="signUpFormGroup" (ngSubmit)="signUpFormGroup.valid &&
          authProcess.signUp
          (signUpFormGroup.value.name,signUpFormGroup.value.email,signUpFormGroup.value.password)">
        <div class="form-group">
          <label for="validationName">First name</label>
          <input class="form-control"
                 [class.is-valid]="sigUpNameFormControl.valid && sigUpNameFormControl.dirty"
                 [class.is-invalid]="sigUpNameFormControl.errors && sigUpNameFormControl.dirty"
                 id="validationName"
                 type="text"
                 minlength="2"
                 maxlength="30"
                 [formControl]="sigUpNameFormControl"
                 placeholder="Name"
                 required>
          <div class="invalid-feedback"
               *ngIf="sigUpNameFormControl.errors && (sigUpNameFormControl.dirty || sigUpNameFormControl.touched)">
            <p *ngIf="sigUpNameFormControl.hasError('required')">
              Name is required
            </p>
            <p *ngIf="sigUpNameFormControl.hasError('minlength')">
              The name is too short!
            </p>
            <p *ngIf="sigUpNameFormControl.hasError('maxlength')">
              The name is too long!
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="validationRegisterEmail">E-mail</label>
          <div class="input-group">
            <input class="form-control"
                   [class.is-valid]="sigUpEmailFormControl.valid && sigUpEmailFormControl.dirty"
                   [class.is-invalid]="sigUpEmailFormControl.errors  && sigUpEmailFormControl.dirty"
                   id="validationRegisterEmail"
                   [formControl]="sigUpEmailFormControl"
                   placeholder="E-mail"
                   type="email"
                   aria-describedby="inputGroupPrepend3"
                   required>

            <!--error msgs-->
            <div class="invalid-feedback"
                 *ngIf="sigUpEmailFormControl.errors && (sigUpEmailFormControl.dirty || sigUpEmailFormControl.touched)">
              <p *ngIf="sigUpEmailFormControl.hasError('required')">
                E-mail is required
              </p>
              <p *ngIf="sigUpEmailFormControl.hasError('pattern')">
                Please enter a valid e-mail address
              </p>
            </div>

          </div>
        </div>

        <div class="form-group">
          <label for="validationRegisterPassword">Password</label>
          <div class="input-group">
            <input class="form-control"
                   [class.is-valid]="sigUpPasswordFormControl.valid"
                   [class.is-invalid]="sigUpPasswordFormControl.errors"
                   id="validationRegisterPassword"
                   type="password"
                   placeholder="password"
                   name="password"
                   [formControl]="sigUpPasswordFormControl"
                   aria-describedby="inputGroupPrepend4"
                   required>

            <!--<small id="passwordHelpBlock" class="form-text text-muted">-->
            <!--Your password must be 8-25 characters long, contain letters and numbers,-->
            <!--and must not contain spaces, special characters, or emoji.-->
            <!--</small>-->

            <div class="invalid-feedback"
                 *ngIf="sigUpPasswordFormControl.errors && (sigUpPasswordFormControl.dirty || sigUpPasswordFormControl.touched)">
              <p *ngIf="sigUpPasswordFormControl.hasError('required')">
                Please do not forget the password
              </p>
              <p *ngIf="sigUpPasswordFormControl.hasError('minlength')">
                The password must be at least 6 characters
                long.
              </p>
              <p *ngIf="sigUpPasswordFormControl.hasError('maxlength')">
                The password can not be longer than 25 characters.
              </p>
            </div>

          </div>
        </div>

        <!--<div class="form-group">-->
        <!--<div class="form-check">-->
        <!--<input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>-->
        <!--<label class="form-check-label" for="invalidCheck3">-->
        <!--Agree to terms and conditions-->
        <!--</label>-->
        <!--<div class="invalid-feedback">-->
        <!--You must agree before submitting.-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <button class="btn btn-primary"
                type="submit">
          Register
        </button>
        <button *ngIf="guestEnabled"
                class="btn btn-outline-secondary"
                (click)="authProcess.signInWith(authProvider.ANONYMOUS)">
          <i class="fa fa-fingerprint"></i>
          continue as guest
        </button>
      </form>
    </ng-template>
  </ngb-tab>

</ngb-tabset>
