<ngb-auth-firebaseui-progress-bar *ngIf="authProcess.isLoading" class="mb-2">
</ngb-auth-firebaseui-progress-bar>
<ngb-tabset #tabs>
  <!--Reset password tab-->
  <ngb-tab *ngIf="passwordResetWished" title="Reset Password" id="reset_password">
    <ng-template ngbTabContent>
      <form #resetPasswordForm="ngForm"
            class="mt-3"
            [formGroup]="resetPasswordFormGroup"
            (ngSubmit)="resetPasswordFormGroup.valid && resetPassword()">

        <div class="form-group is-invalid">
          <label for="validationResetEmail">E-mail</label>
          <input class="form-control"
                 [class.is-valid]="resetPasswordEmailFormControl.valid && resetPasswordEmailFormControl.dirty"
                 [class.is-invalid]="resetPasswordEmailFormControl.errors  && (resetPasswordEmailFormControl.dirty || resetPasswordForm.submitted)"
                 id="validationResetEmail"
                 [formControl]="resetPasswordEmailFormControl"
                 placeholder="E-mail"
                 type="email"
                 aria-describedby="inputGroupPrepend3"
                 required>

          <!--error msgs-->
          <div class="invalid-feedback"
               *ngIf="resetPasswordEmailFormControl.errors
               && (resetPasswordEmailFormControl.dirty || resetPasswordEmailFormControl.touched || resetPasswordForm.submitted)">
            <p *ngIf="resetPasswordEmailFormControl.hasError('required')">
              E-mail is required
            </p>
            <p *ngIf="resetPasswordEmailFormControl.hasError('pattern')">
              Please enter a valid e-mail address
            </p>
          </div>
        </div>

        <div class="text-center">
          <button class="btn btn-primary"
                  type="submit"
                  [disabled]="passReset">
            Reset
          </button>
        </div>

        <div *ngIf="passReset" class="mt-2 mx-auto">
          <ngb-alert type="success">
            Reset requested. Check your <strong>e-mail</strong> instructions!
          </ngb-alert>
        </div>

      </form>
    </ng-template>
  </ngb-tab>

  <!--Sign in tab-->
  <ngb-tab>
    <ng-template ngbTabTitle>Sign in</ng-template>
    <ng-template ngbTabContent>
      <form #signInPasswordForm="ngForm"
            class="mt-3"
            [formGroup]="signInFormGroup"
            (ngSubmit)="signInFormGroup.valid &&
              authProcess.signInWith
              (authProviders.EmailAndPassword,signInFormGroup.value.email,signInFormGroup.value.password)">

        <div class="form-group">
          <label for="validationSignInEmail">E-mail</label>
          <div class="input-group">
            <input class="form-control"
                   [class.is-valid]="signInEmailFormControl.valid && signInEmailFormControl.dirty"
                   [class.is-invalid]="signInEmailFormControl.errors
                   && (signInEmailFormControl.dirty || signInPasswordForm.submitted)"
                   id="validationSignInEmail"
                   [formControl]="signInEmailFormControl"
                   placeholder="E-mail"
                   type="email"
                   aria-describedby="inputGroupPrepend3"
                   required>

            <!--error msgs-->
            <div class="invalid-feedback"
                 *ngIf="signInEmailFormControl.errors
                 && (signInEmailFormControl.dirty || signInEmailFormControl.touched || signInPasswordForm.submitted)">
              <p *ngIf="signInEmailFormControl.hasError('required')">
                E-mail is required
              </p>
              <p *ngIf="signInEmailFormControl.hasError('pattern')">
                Please enter a valid e-mail address
              </p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="validationSignInPassword">Password</label>
          <div class="input-group">
            <input class="form-control"
                   [class.is-valid]="sigInPasswordFormControl.valid && sigInPasswordFormControl.dirty"
                   [class.is-invalid]="sigInPasswordFormControl.errors && (sigInPasswordFormControl.dirty || signInPasswordForm.submitted)"

                   id="validationSignInPassword"
                   type="password"
                   placeholder="password"
                   name="password"
                   [formControl]="sigInPasswordFormControl"
                   aria-describedby="inputGroupPrepend4"
                   required>

            <!--<small id="passwordHelpBlock" class="form-text text-muted">-->
            <!--Your password must be 8-25 characters long, contain letters and numbers,-->
            <!--and must not contain spaces, special characters, or emoji.-->
            <!--</small>-->

            <div class="invalid-feedback"
                 *ngIf="sigInPasswordFormControl.errors
                 && (sigInPasswordFormControl.dirty || sigInPasswordFormControl.touched || signInPasswordForm.submitted)">
              <p *ngIf="sigInPasswordFormControl.hasError('required')">
                Please do not forget the password
              </p>
              <p *ngIf="sigInPasswordFormControl.hasError('minlength')">
                The password must be at least 6 characters
                long.
              </p>
              <p *ngIf="sigInPasswordFormControl.hasError('maxlength')">
                The password can not be longer than 25 characters.
              </p>
            </div>

          </div>
        </div>


        <div class="container">
          <div class="row justify-content-between">
            <div class="align-self-start">
              <button class="btn btn-primary"
                      type="submit">
                Log in
              </button>
            </div>
            <div class="align-self-end">
              <button *ngIf="guestEnabled"
                      type="button"
                      class="btn btn-outline-secondary"
                      (click)="selectResetPasswordTab()">
                Forgot Password?
              </button>
            </div>
          </div>
        </div>
      </form>
    </ng-template>
  </ngb-tab>

  <!--Register - sign up tab-->
  <ngb-tab>
    <ng-template ngbTabTitle>Register</ng-template>
    <ng-template ngbTabContent>
      <ng-container *ngIf="!authProcess.emailConfirmationSent;then register else confirm"></ng-container>
      <ng-template #register>
        <form #signUpPasswordForm="ngForm"
              class="mt-3"
              [formGroup]="signUpFormGroup"
              (ngSubmit)="signUpFormGroup.valid &&
          authProcess.signUp
          (signUpFormGroup.value.name,signUpFormGroup.value.email,signUpFormGroup.value.password)">
          <div class="form-group">
            <label for="validationName">First name</label>
            <input class="form-control"
                   [class.is-valid]="sigUpNameFormControl.valid && sigUpNameFormControl.dirty"
                   [class.is-invalid]="sigUpNameFormControl.errors
                  && (sigUpNameFormControl.dirty || signUpPasswordForm.submitted)"
                   id="validationName"
                   type="text"
                   minlength="2"
                   maxlength="30"
                   [formControl]="sigUpNameFormControl"
                   placeholder="Name"
                   required>
            <div class="invalid-feedback"
                 *ngIf="sigUpNameFormControl.errors
               && (sigUpNameFormControl.dirty || sigUpNameFormControl.touched || signUpPasswordForm.submitted)">
              <p *ngIf="sigUpNameFormControl.hasError('required')">
                Name is required
              </p>
              <p *ngIf="sigUpNameFormControl.hasError('minlength')">
                The name is too short!
              </p>
              <p *ngIf="sigUpNameFormControl.hasError('maxlength')">
                The name is too long!
              </p>
            </div>
          </div>
          <div class="form-group">
            <label for="validationRegisterEmail">E-mail</label>
            <div class="input-group">
              <input class="form-control"
                     [class.is-valid]="sigUpEmailFormControl.valid && sigUpEmailFormControl.dirty"
                     [class.is-invalid]="sigUpEmailFormControl.errors
                   && (sigUpEmailFormControl.dirty || signUpPasswordForm.submitted)"
                     id="validationRegisterEmail"
                     [formControl]="sigUpEmailFormControl"
                     placeholder="E-mail"
                     type="email"
                     aria-describedby="inputGroupPrepend3"
                     required>

              <!--error msgs-->
              <div class="invalid-feedback"
                   *ngIf="sigUpEmailFormControl.errors
                 && (sigUpEmailFormControl.dirty || sigUpEmailFormControl.touched || signUpPasswordForm.submitted)">
                <p *ngIf="sigUpEmailFormControl.hasError('required')">
                  E-mail is required
                </p>
                <p *ngIf="sigUpEmailFormControl.hasError('pattern')">
                  Please enter a valid e-mail address
                </p>
              </div>

            </div>
          </div>

          <div class="form-group">
            <label for="validationRegisterPassword">Password</label>
            <div class="input-group">
              <input class="form-control"
                     [class.is-valid]="sigUpPasswordFormControl.valid && sigUpPasswordFormControl.dirty"
                     [class.is-invalid]="sigUpPasswordFormControl.errors
                   && (sigUpPasswordFormControl.dirty || signUpPasswordForm.submitted)"
                     id="validationRegisterPassword"
                     type="password"
                     placeholder="password"
                     name="password"
                     [formControl]="sigUpPasswordFormControl"
                     aria-describedby="inputGroupPrepend4"
                     required>

              <!--<small id="passwordHelpBlock" class="form-text text-muted">-->
              <!--Your password must be 8-25 characters long, contain letters and numbers,-->
              <!--and must not contain spaces, special characters, or emoji.-->
              <!--</small>-->

              <div class="invalid-feedback"
                   *ngIf="sigUpPasswordFormControl.errors
                  && (sigUpPasswordFormControl.dirty || sigUpPasswordFormControl.touched) || signUpPasswordForm.submitted">
                <p *ngIf="sigUpPasswordFormControl.hasError('required')">
                  Please do not forget the password
                </p>
                <p *ngIf="sigUpPasswordFormControl.hasError('minlength')">
                  The password must be at least 6 characters
                  long.
                </p>
                <p *ngIf="sigUpPasswordFormControl.hasError('maxlength')">
                  The password can not be longer than 25 characters.
                </p>
              </div>

            </div>
          </div>

          <!--<div class="form-group">-->
          <!--<div class="form-check">-->
          <!--<input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>-->
          <!--<label class="form-check-label" for="invalidCheck3">-->
          <!--Agree to terms and conditions-->
          <!--</label>-->
          <!--<div class="invalid-feedback">-->
          <!--You must agree before submitting.-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->

          <div class="container">
            <div class="row justify-content-between">
              <div class="align-self-start">
                <button class="btn btn-primary"
                        type="submit">
                  Register
                </button>
              </div>
              <div class="align-self-end">
                <button *ngIf="guestEnabled"
                        class="btn btn-outline-secondary"
                        (click)="authProcess.signInWith(authProvider.ANONYMOUS)">
                  <i class="fa fa-fingerprint"></i>
                  continue as guest
                </button>
              </div>
            </div>
          </div>
        </form>

      </ng-template>
      <!--confirm template-->
      <ng-template #confirm>
        <ngb-auth-firebaseui-email-confirmation [email]="authProcess.emailToConfirm">
        </ngb-auth-firebaseui-email-confirmation>
      </ng-template>
    </ng-template>

  </ngb-tab>
</ngb-tabset>

<ngb-auth-firebaseui-providers [providers]="providers" class="mt-2"></ngb-auth-firebaseui-providers>
<ngb-alerts-container class="mt-2" [alerts]="alertService.alerts"></ngb-alerts-container>
